*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(135deg, #d11cd1, #15e2b6);
    min-height: 100vh;
}

body .navbar{
    position: relative;
    display: flex;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    
}

.navigation{
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0.5s;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.navigation.active{
    width: 700px;

}

.navigation .toggleMenu{
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0.5s;
}

.navigation.active .toggleMenu{
    background: #dd4181;
    transition-delay: .5s;
    transform: translateY(60px);
    width: 30px;
    height: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    -ms-transform: translateY(60px);
    -o-transform: translateY(60px);
}

.navigation .toggleMenu::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: #333;
    transform: translateY(-5px);
    transition: 0.5s;
    transition-delay: 0.5s;
}

.navigation .toggleMenu::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background: #333;
    transform: translateY(5px);
    transition: 0.5s;
    transition-delay: 0.5s;
}

.navigation.active .toggleMenu::before{
    transition-delay: 0s;
    background: #fff;
    transform: translateY(0px) rotate(45deg) scale(0.6);
}

.navigation.active .toggleMenu::after{
    transition-delay: 0s;
    background: #fff;
    transform: translateY(0px) rotate(135deg) scale(0.6);
}

.navigation li{
    list-style: none;
    transition: 0.5s;
    transform: scale(0);
}

.navigation.active li{
    transition-delay: 0.75s;
    display: flex;
    transform: scale(1);
}
.navigation li a{
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    text-align: center;
    padding: 5px 5px;
    border-radius: 20px;
    transition: 0.5s;
}

.navigation li a:hover{
    background: #ff4181;
    color: #fff;
}

.home{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.home img{
    width: 90%;
    height: 370px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 7px #7423a3,
    -5px -5px 7px rgb(23, 156, 123);
}

.home p{
    margin-top: 50px;
    width: 70%;
    text-align: center;
    justify-content: center;
    text-transform: none;
    font-size: 1.4em;
}

.datosPersonales .dp{
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    font-size: 1.4em;
}
.datosPersonales .dp a{
    color: #333;
    text-decoration: none;
}

.datosPersonales .dp a:hover{
    color: #fff;
}

.estudios .est{
    text-align: center;
    margin-top: 50px;
    font-size: 1.4em;
}

.lenguajes{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.lenguajes .card{
    position: relative;
    width: 25%;
    background: transparent;
    border: none;
    padding: 20px;
}

.lenguajes .card img{
    margin-bottom: 15px;
    width: 90%;
    
}
.lenguajes .lang{
    width: 70%;
    margin-top:50px;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
}

.lenguajes .card p{
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

.proyectos{
    text-align: center;
    font-size: 1.4em;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos h2{
    margin-top: 50px;
    font-size: 1.4em;
}

.proyectos .p1, .p2, .p3{
    display: flex;
    width: 500px;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    margin: 70px;
    box-shadow: 5px 5px 7px #7423a3,
    -5px -5px 7px rgb(23, 156, 123);
}

.p1 .titulo, .p2 .titulo, .p3 .titulo{
    font-size: 1.3em;
}

.p1 a, .p2 a, .p3 a{
    text-decoration: none;
    color: #333;
}

.p1 a:hover, .p2 a:hover, .p3 a:hover{
    color: #fff;
}